{% extends "./layout.html" %}

{% block content %}
    <h1>NoteChain nedir?</h1>
    <p>Kullanıcı tarafından korumaya alınmak istenen veriler; hiçbir şekilde blockchain ağında yada bir sunucuda
        saklamaz. Bu sayede olası bir saldırıda fikrin/eserin gizliği korunmuş olur.</p>

    <p>Verilerin orijinali yerine sadece hash kodları değiştirilemez bir şekilde blockchainde saklanır.  Bu sayede
        gerekmesi halinde, kullanıcı kendi fikrini/eserini sorgulatarak kesin delil olarak  doğrulatabilir.
    </p>
{% endblock content %}