<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        {% if title %}
            <title>NoteChain - {{title}}</title>
        {% else %}
            <title>Note Chain</title>
        {% endif %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            {% include "notechainapp/includes/_navbar.html" %}
        </div>
        <div class="container">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{message.tags}}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {% block content %}{% endblock content%}
        </div>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>